<input [(ngModel)]="stockSymbol" (keyup.enter)="stockSearch()">
<br>
<br>
<button (click)="stockSearch()">CLICK</button>

<div class="row">
  <div class="col-md-6">
    <div style="display: block;">
    <canvas baseChart width="400" height="400"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"></canvas>
    </div>
  </div>
  <div class="col-md-6" style="margin-bottom: 10px">

  </div>
</div>